.customerSelector {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 100px 50px;
}

.quickbooksButton {
  background-image: url(../../assets/images/quickbooks.png);
  background-size: 100%;
  margin-bottom: 10px;
  width: 300px;
  height: 52px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quickbooksButton:hover {
  background-image: url(../../assets/images/quickbooksHover.png);
}

