.delivery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: lightblue; */
  height: 10vh;
  border: 1px solid black;
  font-size: xx-large;
}

.name {
  margin: auto;
  font-size: large;
}

.checkbox {
  margin: 10px 20px 10px 10px;
}

.confirm {
  padding: 10px;
  margin: 10px 10px;
}

