.delivery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: lightblue; */
  height: 10vh;
  border: 1px solid black;
  font-size: xx-large;
  width: 100%;
}

.name {
  margin: auto;
  font-size: large;
  width: 500px;
  margin-left: 30px;

}


