.deliveries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonAndModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.routeCompleteButton {
  height: 50px;
}